<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html;charset=UTF-8"/>
    <meta http-equiv="X-UA-COMPATIBLE" content="IE-edge"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>

    <link th:href="@{bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet"/>

    <title>聊天室</title>
</head>
<body>
<div class="container-fluid">

    <h3>聊天室</h3>
    <form id="form" class="form-inline">
    <textarea id="text" rows="4" cols="60" name="text"></textarea>

        <input type="submit" class="btn btn-info"/>
        <button type="button" id="stop" class="btn btn-warning">关闭</button>
    </form>
    <div id="output"></div>
</div>
<script src="https://cdn.bootcss.com/sockjs-client/1.1.4/sockjs.js"></script>
<script src="https://cdn.bootcss.com/stomp.js/2.3.3/stomp.js"></script>
<script th:src="@{jquery-3.2.1.js}" type="text/javascript"></script>
<script th:src="@{bootstrap/js/bootstrap.js}" type="text/javascript"></script>

<script th:inline="javascript">
    $("#form").submit(function (e) {
        e.preventDefault();
        var text = $("#text").val();
        sendSpittle(text);
    });


    var sock = new SockJS("/endpointchat");
    var stomp = Stomp.over(sock);
    stomp.connect("guest", "guest", function (frame) {
        stomp.subscribe("/user/queue/notifications", handleNotification);
    });

    function handleNotification(msg) {
        $("#output").append("<b>Received : " + msg.body + "</b><br/>")
    }

    function sendSpittle(text) {
        stomp.send("/chat", {}, text);
    }

    $("#stop").click(function () {
        sock.close()
    });

</script>

</body>
</html>