<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>视图2</title>
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="jquery-ui-1.12.1/jquery-ui.min.css" rel="stylesheet"/>
</head>
<body>
<div class="content" style="margin-top: 100px;margin-left: 50px;">
    <div class="row">
        <label class="col-md-2 control-label">属性形式</label>
        <div class="col-md-2">
            <input type="text" class="form-control" date-picker="date-picker"/>
        </div>

    </div>
    <div class="row">
        <label class="col-md-2 control-label">样式形式</label>
        <div class="col-md-2">
            <input type="text" class="form-control date-picker"/>
        </div>
    </div>

</div>
</body>
</html>